%ol
- @albums.each do |album|
  %li
    = album.author
    \/
    = album.publisher
    \/
    = album.location
    \/
    = album.year
    \/
    = album.edition
    \/
    = album.title
    \/
    = album.detail
    \/
    = album.style